@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist);
}

html,
body {
  height: 100%;
}

/* Remove blue highlight on mobile tap */
* {
  -webkit-tap-highlight-color: transparent;
}
